:root {
  --color-primary: #333333;
  --color-secondary: #828282;
  --color-tetiarry: #F2994A;
  --color-white: #fff;
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Playfair Display', serif;
  --mb-sm: 2rem;
  --mb-md: 3rem;
  --mb-lg: 4rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 55em) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: var(--color-primary);
  font-family: var(--font-primary);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0rem 15rem; }
  @media only screen and (max-width: 62.5em) {
    body {
      padding: 0rem 10rem; } }
  @media only screen and (max-width: 50em) {
    body {
      padding: 0rem 3rem; } }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0rem 1rem; } }

.container {
  flex: 0 0 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column; }

header {
  flex: 0 0 100%;
  font-weight: 600;
  color: #4E5150;
  margin-bottom: 4rem; }

footer {
  flex: 0 0 100%;
  width: 100%;
  color: var(--color-primary);
  text-align: center; }

@media only screen and (max-width: 37.5em) {
  .col-right {
    margin-bottom: 3rem; } }

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  column-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .row {
      display: flex;
      flex-direction: column-reverse; } }

.col-left {
  grid-column: 1/2; }

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  .form__header {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--color-primary);
    margin-bottom: 1rem; }
    .form__header:not(:first-child) {
      margin-top: 4rem; }
  .form__group {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: stretch; }
    .form__group:not(:last-child) {
      margin-bottom: 1.5rem; }
  .form__label {
    color: #4F4F4F;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem; }
  .form__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-secondary);
    position: absolute;
    top: 3.5rem;
    left: 1rem; }
  .form__input {
    height: 5rem;
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
    padding-left: 4.5rem; }
    .form__input::placeholder {
      color: #828282;
      font-size: 1.6rem;
      line-height: 2rem; }

.products {
  padding: 2rem;
  border-radius: 20px;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2; }

.product {
  display: flex;
  max-height: 20rem; }
  .product:not(:last-child) {
    margin-bottom: 3rem; }
  .product__icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--color-secondary);
    margin: auto;
    padding: .5rem; }
  .product__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .product__figure {
    width: 100%;
    flex: 0 0 50%;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 1.5rem; }
  .product__image {
    height: auto;
    width: 100%;
    object-fit: contain; }
  .product__count {
    display: flex;
    border: 1px solid #828282;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    width: 90%; }
    .product__count--input {
      width: 100%;
      border: none;
      padding: .5rem;
      outline: none;
      background-color: #F2F2F2; }
  .product__name {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1.5rem; }
  .product__current-price {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--color-tetiarry); }
  .product__slashed-price {
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: line-through;
    line-height: 1.5rem; }

.costs > * {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-secondary);
  padding: 1rem 0;
  font-weight: 600; }

@media only screen and (max-width: 37.5em) {
  .costs {
    margin-top: 4rem; } }

.btn {
  border-radius: 12px;
  border: none;
  background-color: var(--color-tetiarry);
  color: white;
  font-size: 1.6rem;
  padding: 1.2rem 4rem;
  outline: none;
  align-self: flex-end; }

.checkbox {
  flex-direction: row;
  align-items: center;
  align-self: flex-start; }
  .checkbox input {
    margin-right: .5rem; }

.success {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
  color: green;
  letter-spacing: .2rem;
  word-spacing: .5rem;
  margin: 0rem auto 1rem auto;
  display: none; }
